table{
  background-color: rgb(226, 132, 8);
  width: 100%;
  tr{
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: #fff;
    td{
      background-color: #154715;
      text-align: center;
    }
    th{
      background-color: #457842;
    }
    
  }
  
}