
<div class="container">
  <h2>Problem statement:</h2>
  <h3>
    A customer walks into a restaurant. Scans through the menu card and selects 2 food items. He calls the waiter and places an order for the two items. He likes the food. He orders one more item from the menu and consumes it. He asks for the final bill and pays at the billing counter. He adds 10% tip on the order and leaves the restaurant.</h3>
    <button mat-raised-button color="primary" [routerLink]="['/solution']" >Click to see solution</button>
</div>
