<div class="container">
  <div class="menu">
    <table >
      <tr>
        <th>Dish Name</th>
        <th>Price</th>
        <th class="Quantity" >Quantity</th>
        <th >Order</th>
      </tr>
    <br>
      <tr *ngFor="let menu of menuCard">
        <td>{{menu.dishName}}</td>
        <td> Rs: {{menu.price}}/-</td>
        <span>
          <button mat-button color="primary" (click)="decrement(menu.id)"><mat-icon class="btn reduce">remove</mat-icon></button>
          <h6>{{menu.quantity}}</h6>
          <button mat-button (click)="increment(menu.id)" ><mat-icon class="btn add">add</mat-icon></button>
        </span>
        <div class="add-to-order">
        <button mat-raised-button color="primary" (click)="addOrder(menu)"   [disabled]="!billBtn">Add to order</button>
      </div>
      </tr>
    </table>
  </div>


  <div class="order">
  <ng-template #billing>
    <app-orders [billarray]="billArray"></app-orders>
  </ng-template>
  <div *ngIf=" billBtn else billing">
  <table >
    <tr>
      <th>Dish Name</th>
      <th>Quantity</th>
      <th>Remove</th>
    </tr>
  
    <tr *ngFor="let order of orders">
      <td>{{order?.dishName}}</td>
      <td>{{order?.quantity}}</td>
      <td><button mat-button (click)="removeOrder(order.id)"><mat-icon class="btn reduce">remove</mat-icon></button></td>
    </tr>
  </table>
  <div class="btn" *ngIf="callBtn">
    <button mat-raised-button color="primary" (click)="show()" >Book order to waiter</button>
    <button mat-raised-button color="primary" (click)="billBtn = false"  [disabled]="paymentBtn">For Billing</button>
    </div>
  </div>
</div>

</div>
